.help {
    padding-top: 8rem;
    padding-bottom: 10rem;
  
    &__wrapper {
      display: flex;
      flex-direction: column;
    }
    &__title {
      color: $color-dark-l;
      text-align: center;
      @include h3();
      span {
        display: block;
      }
    }
  
    &__content {
      margin-top: 6rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      column-gap: 12rem;
      row-gap: 5.5rem;
    }
    &__item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &-icon {
        width: 6rem;
        height: 6rem;
      }
  
      &-title {
        margin-top: 3rem;
        color: $color-dark-l;
        text-align: center;
        @include h4();
      }
    }
  }