

:root {
  font-size: 10px;
}

.pets-header {
  display: flex;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  position: absolute;
  min-height: 13rem;
  background-color: $color-light-xl;
  z-index: 2;

  .nav {
    width: 44.3rem;
    display: flex;

    .nav-list {
      width: 100%;
      display: flex;
      justify-content: space-between;
      list-style-type: none;

      &__item {
        display: flex;
        align-items: center;
      }

      &__link {
        color: $color-dark-l;
        font-family: Arial;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 160%;

        &_active {
          border-bottom: solid 0.3rem $color-primary;
        }
        &_disabled {
          color: $color-dark-l;
        }
      }
      &__link:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
  }
}

.main {
  &__wrapper {
    padding-top: 8rem;
    padding-bottom: 10rem;
    flex-direction: column;
  }

  &-pets__title {
    color: $color-dark-l;
    text-align: center;
    @include h3();
    span {
      display: block;
    }
  }

  &-pets-cards {
    margin-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 4rem;
    row-gap: 3rem;
  }

  &-paginations {
    display: flex;
    margin-top: 6rem;
    justify-content: center;


    &__button {
      margin: 0 1rem;
      @include pagination_button();
      @include h4();

      &_active {
        box-shadow: none;
          background-color: $color-primary;
          cursor: auto;
          &:hover {
           
            background-color: $color-primary;
          
          }
      }

      &:disabled {
        box-shadow: inset 0 0 0 0.3rem $color-dark-s;
        &:hover {
          box-shadow: inset 0 0 0 0.3rem $color-dark-s;
          background-color: transparent;
          cursor: auto;
        }
      }
    }
  }
}

.pets-card {
  display: flex;
  flex-direction: column;
  border-radius: 0.9rem;

  &:hover {
    box-shadow: $card_hover;
  }

  &__image {
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
  }

  &__title {
    margin: 3rem 0;
    text-align: center;
    @include h4();
  }
  &__button {
    @include button_secondary();
  }
}
.slider-button {
  @include slider_button();
}
.slider-button_reverted {
  @include slider_button();
  transform: rotate(180deg);
}
.logo {
  display: flex;
  flex-direction: column;

  &__title {
    color: $color-dark-l;
    @include logo_title();
  }
  &__subtitle {
    margin-top: 1rem;
    color: $color-dark-3xl;
    text-align: center;
    @include logo_subtitle();
  }
}
