@import "mixins";
@import "fonts";
@import "vendor";
@import "vars";
@import "settings";
@import "pets";
@import "burgerMenu";
@import "header";
@import "hero";
@import "about";
@import "help";
@import "donation";
@import "footer";

:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  margin: 0 auto;
  max-width: 120rem;
  flex: 1;
  justify-content: space-between;

  @media (max-width: 768px) {
    justify-content: space-around;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.pets {
  padding-top: 7rem;
  padding-bottom: 10rem;
  @media (max-width: 768px) {
    padding-top: 9rem;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    max-width: 40rem;
    text-align: center;

    span {
      display: block;
    }
    @include h3();
    color: $color-dark-l;
  }

  &__slider {
    display: flex;
    align-items: center;
    @media (max-width: 768px) {
      max-width: 70.8rem;
      max-height: 69.7rem;
      overflow: hidden;
    }

    .pets-cards {
      display: flex;
      padding: 6rem 0.8rem;
    }
    .pets-card {
      display: flex;
      flex-direction: column;
      border-radius: 0.9rem;
      padding: 0 4.5rem;

      @media (max-width: 768px) {
        width: 27rem;
        height: 43.5rem;
        margin-right: 4.5rem;
      }
      &:hover {
        box-shadow: $card_hover;
      }

      &__image {
        width: 100%;
      }

      &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 3rem;
      }

      &__title {
        margin: 3rem 0;
        text-align: center;
        @include h4();
      }
      &__button {
        @include button_secondary();
      }
    }
    .slider-button {
      @include slider_button();
    }
    .slider-button_reverted {
      @include slider_button();
      transform: rotate(180deg);
      @media (max-width: 768px) {
        position: relative;
        right: 35.7rem;
      }
    }
  }

  &__button {
    @include button_primary();
  }
}



@media screen and (max-width: 1280px) {
  .wpapper {
    padding: 0 4rem;
  }
}

.dark-screen {
  position:fixed;
  display:none;
  overflow: auto;
  left: 0; 
  right: 0; 
  top: 0; 
  bottom: 0;
  background:$dark-screen;
  z-index:1;
  min-height: 100%;
}
